/*--------------------GENERAL--------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  max-width: 100%;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid: 1/repeat(4, 1fr);
  background-color: #f7f5f5;
  position: relative;
}

.primaryText {
  font-family: "Josefin Slab", serif;
  font-size: 1.7rem;
  font-weight: bold;
  color: #353535;
}

.complementText {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;
  color: #353535;
}

.techText {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.socialDetailText {
  display: block;
}

.link {
  font-family: "Roboto", sans-serif;
  text-decoration: underline;
}

.link:hover {
  cursor: pointer;
}

.section {
  display: grid;
  height: auto;
  font-family: "Times New Roman", serif;
  align-items: center;
  justify-items: center;
  padding: 4vh 0;
}

.socialDetailsSpanWrapper {
  height: 0;
  padding: 2vh;
  width: 5vw;
  position: sticky;
  top: 0;
  left: 0;
  display: grid;
  justify-items: center;
}

.socialDetailsSpan {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  text-align: center;
}

.socialLink {
  margin: 0.5vh;
}

/*--------------HOME/ABOUT--------------*/
.homeSection {
  height: 100vh;
}

.headerText {
  font-family: "Josefin Slab", serif;
  font-size: 10rem;
}

.subHeaderText {
  font-size: 1.3rem;
  font-weight: lighter;
  font-style: italic;
}

/*--------------PROJECTS--------------*/
.projectSection {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  overflow-x: hidden;
  position: relative;
}

.projectArticle {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100vw;
  transition: 0.3s;
}

.projectArticleWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  width: 60vw;
  padding: 2vh 0;
}

.mitushArticleWrapper {
  border-top: solid 1px #a20058;
}

.mitushArticle:hover {
  background-color: rgba(162, 0, 88, 0.1);
}

.collegeFinanceArticleWrapper {
  border-top: solid 1px #51a7a7;
}

.collegeFinanceArticleDesktop:hover {
  background-color: rgba(81, 167, 167, 0.1);
}

.collegeFinanceArticleMobile {
  display: none;
}

.droughtArticleWrapper {
  border-top: solid 1px #dda448;
  padding-bottom: 2vh;
}

.droughtArticle:hover {
  background-color: rgba(221, 164, 72, 0.1);
}

.projectImage {
  display: grid;
  align-content: center;
  justify-content: center;
  height: 30vh;
  width: 30vh;
  box-shadow: rgba(17, 17, 26, 0.1) 0 4px 16px, rgba(17, 17, 26, 0.05) 0 8px 32px;
}

.projectImage img {
  width: 100%;
}

.mitushProjectImage {
  box-shadow: none;
}

.projectDetails {
  padding: 2vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.projectTitleTechnologyWrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

.projectTechnology {
  margin: 1vh;
}

.collegeFinanceTechText {
  color: #51a7a7;
}

.mitushTechText {
  color: #a20058;
}

.droughtText {
  color: #dda448;
}

.projectDescription {
  width: 60%;
  margin: 2vh;
  text-align: center;
}

.projectLink {
  margin: 1vh;
  text-align: center;
}

.mitushLink {
  color: #a20058;
}

.collegeFinanceLink {
  color: #51a7a7;
}

.droughtLink {
  color: #dda448;
}

/*--------------FOOTER--------------*/
.footerSection {
  padding: 1vh;
  display: block;
}

/* Animations */

/*# sourceMappingURL=style.css.map */
